* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* varibles */
:root {
  --main-color: #1b3764;
  --distinct-color: #ffca42;
  --secondary-color: #f6f8fc;
  /* --pane-padding: 5px 42px;  */
  --ff-cardo: "Cardo", serif;
  --ff-inter: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  font-family: var(--ff-cardo);
}

/* navbar */
nav {
  position: fixed;
  background-color: var(--main-color);
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 10000;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav .left {
  display: flex;
  align-items: center;
  gap: 32px;
}

nav .left .logo {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--ff-inter);
  font-size: 28px;
  font-weight: bold;
}

nav .left .social-media {
  display: flex;
  gap: 8px;
}

nav .left .social-media a {
  background-color: #fff;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .right {
  display: flex;
  align-items: center;
  gap: 32px;
}

nav .right ul {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style: none;
}

nav .right ul li a {
  text-decoration: none;
  color: #fff;
  font-family: var(--ff-inter);
}

nav .right .cart {
  position: relative;
}

nav .right .cart .count {
  position: absolute;
  top: -15px;
  right: -15px;
  background-color: var(--distinct-color);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-family: var(--ff-inter);
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .right .order-button {
  background-color: var(--distinct-color);
  height: 50px;
  width: 180px;
  font-family: var(--ff-cardo);
  font-weight: bold;
  font-size: 18px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

nav .right .order-button:hover {
  background-color: transparent;
  border: 2px solid var(--distinct-color);
  color: #fff;
}

/* Header */

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 100%;
  height: 100vh;

  background-color: var(--main-color);
  margin-top: 100px;
}

header .right-side {
  background-color: aqua;
  width: 400px;
}

header .right-side img {
  width: 100%;
}

.left-side {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.left-side .side {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.left-side .Welcome-to-Pages {
  display: flex;
  align-items: center;
  gap: 10px;
}

.left-side .Welcome-to-Pages .line {
  width: 34px;
  height: 1px;
  background-color: var(--distinct-color);
}

.left-side .Welcome-to-Pages span {
  color: #fff;
  font-family: var(--ff-cardo);
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  line-height: 37.08px;
  word-wrap: break-word;
}

.left-side .title {
  color: #fff;
  font-size: 65px;
  font-family: var(--ff-cardo);
  font-weight: bold;
  line-height: 110%;
}

.left-side .description {
  color: #b4c7e7;
  font-size: 19px;
  font-family: "Inter";
  font-weight: 400;
  line-height: 34.2px;
}

.left-side .buttons {
  width: 414px;
  height: 56px;

  display: flex;
  align-items: center;
  gap: 37px;
}

.left-side .buttons button {
  width: 220px;
  height: 65px;

  background-color: var(--distinct-color);
  font-size: 19px;
  font-family: "Cardo";
  font-weight: bold;
  border: none;
  outline: none;
}

.left-side .buttons span {
  color: white;
  font-size: 19px;
  font-family: "Cardo";
  border-bottom: solid #fff 2px;
}

.statistics {
  color: white;
  font-size: 24px;
  font-family: "Cardo";
}

.left-side .statistics {
  display: flex;
  justify-content: space-between;
}

.left-side .statistics .box .spans {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.left-side .statistics .box .spans span:last-child {
  color: #b4c7e7;
  font-size: 18px;
  font-family: "Inter";
}

.left-side .statistics .box {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.left-side .statistics .box .circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--distinct-color);
  margin-top: 10px;
  margin-left: 10px;
}

/* .what-will */
.what-will {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  margin-top: 117px;
  margin-bottom: 144px;
  gap: 53px;
  width: 100%;
}

.what-will .main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.what-will .main-content .Boxes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  gap: 30px;
}

.what-will .main-content .Boxes .first-line {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  width: 100%;
}

.what-will .main-content .Boxes .seconed-line {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

.what-will .main-content .Boxes .boxe {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 31px;

  background-color: #f4f8ff;
  width: 290px;
  height: 299px;
  padding: 41px 33px;
}

.what-will .main-content .Boxes {
  color: var(--main-color);
  font-size: 24px;
  font-family: "Cardo";
  font-weight: bold;
}

.what-will .main-content .Boxes .boxe .number {
  color: var(--main-color);
  font-size: 24px;
  font-family: "Cardo";
  font-weight: bold;
  line-height: 28.8px;

  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--distinct-color);
  font-family: var(--ff-inter);

  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-title {
  color: var(--main-color);
  font-size: 45px;
  font-family: "Cardo";
  font-weight: bold;
  line-height: 54px;
  position: relative;
}

.main-title::after {
  content: "";
  position: absolute;
  width: 55px;
  height: 100%;
  border-bottom: solid 2px var(--distinct-color);
  left: 50%;
  transform: translate(-50%, 22px);
}

.what-will .cover-learn {
  position: relative;
  z-index: 1;
}

.what-will .cover-learn::before {
  position: absolute;
  content: "";
  border: solid 12px var(--distinct-color);
  transform: translate(10px, 10px);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.what-will .cover-learn img {
  width: 550px;
  height: 650px;
}

/* The Chapter Includes */

.the-chapter {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f4f8ff;
  width: 100%;
}

.the-chapter .main-title {
  color: var(--main-color);
  font-size: 45px;
  font-family: "Cardo";
  font-weight: bold;
  line-height: 54px;
  position: relative;
  margin-top: 117px;
}

.the-chapter .main-title::after {
  content: "";
  position: absolute;
  width: 55px;
  height: 100%;
  border-bottom: solid 2px var(--distinct-color);
  left: 50%;
  transform: translate(-50%, 22px);
}

.the-chapter .boxs-Chapter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

  margin-top: 50px;
  width: 100%;
}

.the-chapter .boxs-Chapter .capter {
  width: 630px;
  height: 250px;
  background-color: #fff;
  padding: 50px 90px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.the-chapter .boxs-Chapter .capter .title {
  color: var(--main-color);
  font-size: 24px;
  font-family: "Cardo";
  font-weight: bold;
  line-height: 28px;
}

.the-chapter .boxs-Chapter .capter .text {
  color: #969aa0;
  font-size: 19px;
  font-family: "Inter";
  font-weight: 400;
  line-height: 34px;
}

.the-chapter .statistics {
  color: var(--main-color);
  font-size: 24px;
  font-family: "Cardo";
}

.the-chapter .statistics {
  display: flex;
}

.the-chapter .statistics .box .spans {
  display: flex;
  align-items: center;
  gap: 10px;
}

.the-chapter .statistics .box .spans span:last-child {
  color: #b4c7e7;
  font-size: 18px;
  font-family: "Inter";
}

.the-chapter .statistics .box {
  display: flex;
  gap: 10px;
}

.the-chapter .statistics .box .circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--distinct-color);
  margin-top: 10px;
  margin-left: 10px;
}

.the-chapter .boxs-Chapter .chapter1 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.the-chapter .boxs-Chapter .chapter2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.the-chapter .free-trail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-top: 70px;
  margin-bottom: 148px;
  gap: 32px;
}
.the-chapter .free-trail button {
  border: none;
  outline: none;

  width: 382px;
  height: 65px;
  background-color: var(--distinct-color);

  color: var(--main-color);
  font-size: 19px;
  font-family: var(--ff-cardo);
  font-weight: bold;
  line-height: 23px;
}
.the-chapter .free-trail button span {
  color: #969aa0;
  font-size: 18px;
  font-family: var(--ff-inter);
  font-weight: 400;
  line-height: 30px;
}
.the-chapter .free-trail .ssda {
  color: var(--main-color);
  font-size: 18px;
  font-family: var(--ff-inter);
  font-weight: 400;
  border-bottom: solid 2px var(--main-color);
}

/* Articles & Resources */
.articles {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  flex-direction: column;
}
.articles .main-title {
  margin-top: 135px;
  margin-bottom: 50px;
}
.articles .card {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 35px;
  width: 1300px;
}
.articles .card .article .img img {
  width: 410px;
  height: 326px;
}
.articles .card .article .title {
  color: var(--main-color);
  font-size: 24px;
  font-family: var(--ff-cardo);
  font-weight: bold;
}
.articles .card .article .ff-card {
  margin: 27px 32px;
  gap: 30px;
}
.articles .card .article .ff-card .text {
  color: #969aa0;
  font-size: 19px;
  font-family: var(--ff-inter);
  font-weight: 400;
  line-height: 34px;
}
.articles .card .article .ff-card .buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.articles .card .article .ff-card .buttons span:first-of-type {
  color: var(--main-color);
  font-size: 18px;
  font-family: var(--ff-cardo);
  font-weight: bold;
  line-height: 22.5px;
  border-bottom: solid var(--main-color) 2px;
}
.articles .card .article .ff-card .buttons span:last-of-type {
  color: var(--main-color);
  font-size: 17px;
  font-family: var(--ff-inter);
  font-weight: 400;
  line-height: 21px;
}
